USE [master]
GO
/****** Object:  Database [STOCKMASTERbdv4]    Script Date: 8/05/2026 11:15:39 p. m. ******/
CREATE DATABASE [STOCKMASTERbdv4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'STOCKMASTERbdv4', FILENAME = N'/var/opt/mssql/data/STOCKMASTERbdv4.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'STOCKMASTERbdv4_log', FILENAME = N'/var/opt/mssql/data/STOCKMASTERbdv4_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [STOCKMASTERbdv4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [STOCKMASTERbdv4]
GO
/****** Object:  User [operario_user]    Script Date: 8/05/2026 11:15:39 p. m. ******/
CREATE USER [operario_user] FOR LOGIN [operario_user] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [gerente_user]    Script Date: 8/05/2026 11:15:39 p. m. ******/
CREATE USER [gerente_user] FOR LOGIN [gerente_user] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [admin_user]    Script Date: 8/05/2026 11:15:39 p. m. ******/
CREATE USER [admin_user] FOR LOGIN [admin_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [admin_user]
GO
/****** Object:  Table [dbo].[Articulo]    Script Date: 8/05/2026 11:15:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulo](
	[codigo] [nvarchar](50) NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[precio] [numeric](18, 0) NOT NULL,
	[stock] [int] NOT NULL,
	[id_categoria] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 8/05/2026 11:15:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleFactura]    Script Date: 8/05/2026 11:15:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleFactura](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [numeric](18, 0) NOT NULL,
	[subtotal] [numeric](18, 0) NOT NULL,
	[id_venta] [int] NOT NULL,
	[codigo_articulo] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 8/05/2026 11:15:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[id_persona] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[usuario] [nvarchar](50) NOT NULL,
	[contrasena] [nvarchar](255) NOT NULL,
	[direccion] [nvarchar](200) NULL,
	[id_tipo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_persona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoPersona]    Script Date: 8/05/2026 11:15:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPersona](
	[id_tipo] [int] IDENTITY(1,1) NOT NULL,
	[rol] [nvarchar](50) NOT NULL,
	[descripcion] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 8/05/2026 11:15:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[id_venta] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[descuento] [numeric](3, 2) NOT NULL,
	[total] [numeric](18, 0) NOT NULL,
	[id_persona] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Articulo] ([codigo], [nombre], [precio], [stock], [id_categoria]) VALUES (N'ART-001', N' LED 2121', CAST(100 AS Numeric(18, 0)), 5000, 1)
INSERT [dbo].[Articulo] ([codigo], [nombre], [precio], [stock], [id_categoria]) VALUES (N'ART-002', N'Fuente 60A 5v', CAST(180000 AS Numeric(18, 0)), 120, 2)
INSERT [dbo].[Articulo] ([codigo], [nombre], [precio], [stock], [id_categoria]) VALUES (N'ART-003', N'Modulo p4 80 40"', CAST(150000 AS Numeric(18, 0)), 200, 3)
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([id_categoria], [descripcion]) VALUES (1, N'Led')
INSERT [dbo].[Categoria] ([id_categoria], [descripcion]) VALUES (2, N'Electrónica')
INSERT [dbo].[Categoria] ([id_categoria], [descripcion]) VALUES (3, N'Pantalla')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleFactura] ON 

INSERT [dbo].[DetalleFactura] ([id_detalle], [cantidad], [precio_unitario], [subtotal], [id_venta], [codigo_articulo]) VALUES (1, 2, CAST(100 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), 1, N'ART-001')
INSERT [dbo].[DetalleFactura] ([id_detalle], [cantidad], [precio_unitario], [subtotal], [id_venta], [codigo_articulo]) VALUES (2, 1, CAST(180000 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), 1, N'ART-002')
SET IDENTITY_INSERT [dbo].[DetalleFactura] OFF
GO
SET IDENTITY_INSERT [dbo].[Persona] ON 

INSERT [dbo].[Persona] ([id_persona], [nombre], [usuario], [contrasena], [direccion], [id_tipo]) VALUES (1, N'Felipe', N'admin', N'12345', N'Oficina Central', 1)
INSERT [dbo].[Persona] ([id_persona], [nombre], [usuario], [contrasena], [direccion], [id_tipo]) VALUES (2, N'Camilo', N'admin2', N'12345', N'Calle 123', 1)
INSERT [dbo].[Persona] ([id_persona], [nombre], [usuario], [contrasena], [direccion], [id_tipo]) VALUES (3, N'Laura', N'operario1', N'12345', N'Calle 456', 2)
SET IDENTITY_INSERT [dbo].[Persona] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoPersona] ON 

INSERT [dbo].[TipoPersona] ([id_tipo], [rol], [descripcion]) VALUES (1, N'Admin', N'Administrador del sistema')
INSERT [dbo].[TipoPersona] ([id_tipo], [rol], [descripcion]) VALUES (2, N'Operario', N'Personal de operaciones')
INSERT [dbo].[TipoPersona] ([id_tipo], [rol], [descripcion]) VALUES (3, N'Gerente', N'Gerente general')
SET IDENTITY_INSERT [dbo].[TipoPersona] OFF
GO
SET IDENTITY_INSERT [dbo].[Venta] ON 

INSERT [dbo].[Venta] ([id_venta], [fecha], [descuento], [total], [id_persona]) VALUES (1, CAST(N'2026-05-03' AS Date), CAST(0.15 AS Numeric(3, 2)), CAST(300000 AS Numeric(18, 0)), 1)
SET IDENTITY_INSERT [dbo].[Venta] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Persona_User]    Script Date: 8/05/2026 11:15:39 p. m. ******/
ALTER TABLE [dbo].[Persona] ADD  CONSTRAINT [UQ_Persona_User] UNIQUE NONCLUSTERED 
(
	[usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Articulo] ADD  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[DetalleFactura] ADD  DEFAULT ((0)) FOR [subtotal]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT (CONVERT([date],getdate())) FOR [fecha]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT ((0)) FOR [descuento]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT ((0)) FOR [total]
GO
ALTER TABLE [dbo].[Articulo]  WITH CHECK ADD FOREIGN KEY([id_categoria])
REFERENCES [dbo].[Categoria] ([id_categoria])
GO
ALTER TABLE [dbo].[Articulo]  WITH CHECK ADD FOREIGN KEY([id_categoria])
REFERENCES [dbo].[Categoria] ([id_categoria])
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD FOREIGN KEY([codigo_articulo])
REFERENCES [dbo].[Articulo] ([codigo])
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD FOREIGN KEY([codigo_articulo])
REFERENCES [dbo].[Articulo] ([codigo])
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD FOREIGN KEY([id_tipo])
REFERENCES [dbo].[TipoPersona] ([id_tipo])
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD FOREIGN KEY([id_tipo])
REFERENCES [dbo].[TipoPersona] ([id_tipo])
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD FOREIGN KEY([id_persona])
REFERENCES [dbo].[Persona] ([id_persona])
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD FOREIGN KEY([id_persona])
REFERENCES [dbo].[Persona] ([id_persona])
GO
ALTER TABLE [dbo].[Articulo]  WITH CHECK ADD CHECK  (([precio]>=(0)))
GO
ALTER TABLE [dbo].[Articulo]  WITH CHECK ADD CHECK  (([precio]>=(0)))
GO
ALTER TABLE [dbo].[Articulo]  WITH CHECK ADD CHECK  (([stock]>=(0)))
GO
ALTER TABLE [dbo].[Articulo]  WITH CHECK ADD CHECK  (([stock]>=(0)))
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD CHECK  (([precio_unitario]>=(0)))
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD CHECK  (([precio_unitario]>=(0)))
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD CHECK  (([descuento]>=(0) AND [descuento]<=(100)))
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD CHECK  (([descuento]>=(0) AND [descuento]<=(100)))
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarPrecioArticulo]    Script Date: 8/05/2026 11:15:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarPrecioArticulo]
    @codigo NVARCHAR(50),
    @nuevo_precio NUMERIC(18,0)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION

        -- 🔹 IF EXISTS + validación de rango
        IF NOT EXISTS (SELECT 1 FROM Articulo WHERE codigo = @codigo)
        BEGIN
            PRINT '❌ Artículo no encontrado.';
            ROLLBACK TRANSACTION;
            RETURN;
        END

        IF @nuevo_precio <= 0
        BEGIN
            PRINT '❌ El precio debe ser mayor a 0.';
            ROLLBACK TRANSACTION;
            RETURN;
        END

        DECLARE @nombre_articulo NVARCHAR(150), @precio_anterior NUMERIC(18,0);
        SELECT @nombre_articulo = nombre, @precio_anterior = precio 
        FROM Articulo WHERE codigo = @codigo;

        -- 🔹 Funciones: CAST, ROUND, CONCAT, UPPER
        UPDATE Articulo SET precio = @nuevo_precio WHERE codigo = @codigo;

        PRINT '✅ Precio actualizado. ' + 
              CONCAT(UPPER(@nombre_articulo), ' | Antes: ', CAST(@precio_anterior AS VARCHAR), 
                     ' | Nuevo: ', CAST(@nuevo_precio AS VARCHAR));

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        PRINT '⚠️ Error al actualizar precio: ' + ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AlertasInventarioBajo]    Script Date: 8/05/2026 11:15:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AlertasInventarioBajo]
AS
BEGIN
    BEGIN TRY
        DECLARE @codigo NVARCHAR(50), @nombre NVARCHAR(150), @stock INT, @id_cat INT;
        DECLARE @mensaje NVARCHAR(300), @cat_desc NVARCHAR(200);

        -- 🔹 Declaración del cursor
        DECLARE cursor_stock CURSOR LOCAL STATIC FOR
        SELECT a.codigo, a.nombre, a.stock, a.id_categoria
        FROM Articulo a
        WHERE a.stock <= 5;

        OPEN cursor_stock;
        FETCH NEXT FROM cursor_stock INTO @codigo, @nombre, @stock, @id_cat;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            -- 🔹 Función ISNULL + SUBSTRING + UPPER/LOWER + CASE implícito con IF/ELSE
            SELECT @cat_desc = ISNULL(descripcion, 'Sin categoría')
            FROM Categoria WHERE id_categoria = @id_cat;

            IF @stock = 0
                SET @mensaje = CONCAT('🚨 ', UPPER(@nombre), ' | AGOTADO | Cat: ', @cat_desc);
            ELSE IF @stock <= 3
                SET @mensaje = CONCAT('⚠️ ', SUBSTRING(@nombre, 1, 12), '... | Stock crítico: ', @stock);
            ELSE
                SET @mensaje = CONCAT('ℹ️ ', LOWER(@nombre), ' | Reposición sugerida: ', @stock);

            PRINT @mensaje; -- Aquí podrías INSERTAR en una tabla de auditoría

            FETCH NEXT FROM cursor_stock INTO @codigo, @nombre, @stock, @id_cat;
        END

        CLOSE cursor_stock;
        DEALLOCATE cursor_stock;
        PRINT '✅ Escaneo de inventario finalizado.';
    END TRY
    BEGIN CATCH
        -- 🔹 Limpieza segura del cursor en caso de error
        IF CURSOR_STATUS('local', 'cursor_stock') >= 0
        BEGIN
            CLOSE cursor_stock;
            DEALLOCATE cursor_stock;
        END
        PRINT '⚠️ Error en cursor: ' + ERROR_MESSAGE() + ' | Línea: ' + CAST(ERROR_LINE() AS VARCHAR);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarPersona]    Script Date: 8/05/2026 11:15:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarPersona]
    @nombre NVARCHAR(100),
    @usuario NVARCHAR(50),
    @contrasena NVARCHAR(255),
    @direccion NVARCHAR(200),
    @id_tipo INT
AS
BEGIN
    BEGIN TRY
        -- 🔹 Función LEN + IF para validar longitud mínima
        IF LEN(@usuario) < 4
        BEGIN
            PRINT '❌ El usuario debe tener al menos 4 caracteres.';
            RETURN;
        END

        --  IF EXISTS para evitar duplicados (restricción UNIQUE ya existe, pero validamos lógica)
        IF EXISTS (SELECT 1 FROM Persona WHERE usuario = @usuario)
        BEGIN
            PRINT '❌ El usuario ya está registrado.';
            RETURN;
        END

        -- 🔹 Funciones UPPER y LOWER para normalizar datos
        INSERT INTO Persona (nombre, usuario, contrasena, direccion, id_tipo)
        VALUES (UPPER(@nombre), LOWER(@usuario), @contrasena, @direccion, @id_tipo);

        PRINT '✅ Persona registrada exitosamente.';
    END TRY
    BEGIN CATCH
        PRINT '⚠️ Error al registrar persona: ' + ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarVenta]    Script Date: 8/05/2026 11:15:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarVenta]
    @id_cliente INT,
    @codigo_articulo NVARCHAR(50),
    @cantidad INT
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION

        -- 🔹 Validación de existencia de cliente
        IF NOT EXISTS (SELECT 1 FROM Persona WHERE id_persona = @id_cliente)
        BEGIN
            PRINT '❌ El cliente no existe.';
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- 🔹 Validación de existencia de artículo
        IF NOT EXISTS (SELECT 1 FROM Articulo WHERE codigo = @codigo_articulo)
        BEGIN
            PRINT '❌ El artículo no existe.';
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- 🔹 Control de flujo: Validar stock disponible
        DECLARE @stock_actual INT, @precio_unitario NUMERIC(18,0);
        SELECT @stock_actual = stock, @precio_unitario = precio 
        FROM Articulo WHERE codigo = @codigo_articulo;

        IF @cantidad > @stock_actual OR @stock_actual <= 0
        BEGIN
            PRINT '❌ Stock insuficiente. Disponible: ' + CAST(@stock_actual AS VARCHAR);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- 🔹 Cálculos con funciones matemáticas y de conversión
        DECLARE @subtotal NUMERIC(18,0) = @cantidad * @precio_unitario;
        DECLARE @id_nueva_venta INT;

        -- Insertar cabecera de venta
        INSERT INTO Venta (fecha, descuento, total, id_persona)
        VALUES (GETDATE(), 0, @subtotal, @id_cliente);
        SET @id_nueva_venta = SCOPE_IDENTITY();

        -- Insertar detalle
        INSERT INTO DetalleFactura (cantidad, precio_unitario, subtotal, id_venta, codigo_articulo)
        VALUES (@cantidad, @precio_unitario, @subtotal, @id_nueva_venta, @codigo_articulo);

        -- Actualizar inventario
        UPDATE Articulo SET stock = stock - @cantidad WHERE codigo = @codigo_articulo;

        COMMIT TRANSACTION;
        PRINT '✅ Venta #' + CAST(@id_nueva_venta AS VARCHAR) + ' registrada. Total: ' + CAST(@subtotal AS VARCHAR);
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        PRINT '⚠️ Error en venta: ' + ERROR_MESSAGE() + ' (Cód: ' + CAST(ERROR_NUMBER() AS VARCHAR) + ')';
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReporteVentasPorCategoria]    Script Date: 8/05/2026 11:15:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReporteVentasPorCategoria]
    @anio INT,
    @mes INT
AS
BEGIN
    BEGIN TRY
        -- 🔹 Funciones: YEAR, MONTH, COUNT, SUM, AVG, ROUND, ISNULL, CONCAT, GROUP BY, HAVING
        SELECT
            c.descripcion AS Categoria,
            CONCAT(YEAR(v.fecha), '-', MONTH(v.fecha)) AS Periodo,
            COUNT(v.id_venta) AS CantidadVentas,
            SUM(df.subtotal) AS TotalFacturado,
            ROUND(AVG(df.subtotal), 2) AS PromedioPorItem,
            ISNULL(MIN(df.precio_unitario), 0) AS PrecioMinimo
        FROM Venta v
        INNER JOIN DetalleFactura df ON v.id_venta = df.id_venta
        INNER JOIN Articulo a ON df.codigo_articulo = a.codigo
        INNER JOIN Categoria c ON a.id_categoria = c.id_categoria
        WHERE YEAR(v.fecha) = @anio AND MONTH(v.fecha) = @mes
        GROUP BY c.descripcion, YEAR(v.fecha), MONTH(v.fecha)
        HAVING SUM(df.subtotal) > 50000 -- Filtrado de grupos
        ORDER BY TotalFacturado DESC;
    END TRY
    BEGIN CATCH
        PRINT '️ Error al generar reporte: ' + ERROR_MESSAGE();
    END CATCH
END
GO
USE [master]
GO
